*{
    margin: 0 px;
    padding:0 px;
    
}
.wrappers{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.images4{
    width:500PX;
    position: relative;
}
img{
    width: 100%;
    display: block;
    margin:auto;

}
.content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background:rgba(0, 0, 0, 0,6) ;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.7s;
}
.content:hover{
    opacity: 1;
}
.content h1{
    font-size: 45px;
    color:yellow;
    margin-bottom: 15px;
}
 p{
    font-size: 40px;
    color: black;
}